<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.share2u.etl.dao.StaffMapper" >
  <resultMap id="BaseResultMap" type="site.share2u.etl.pojo.Staff" >
    <id column="STAFF_ID" property="staffId" jdbcType="VARCHAR" />
    <result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
    <result column="RANK_ID" property="rankId" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="STORE_ID" property="storeId" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="INTEGER" />
    <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="SPECIAL" property="special" jdbcType="VARCHAR" />
    <result column="INFO" property="info" jdbcType="VARCHAR" />
    <result column="DEPART_ID" property="departId" jdbcType="VARCHAR" />
    <result column="STAFF_IMG" property="staffImg" jdbcType="VARCHAR" />
    <result column="DEP_HEADER" property="depHeader" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="RIGHTS" property="rights" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="LAST_LOGIN" property="lastLogin" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="SKIN" property="skin" jdbcType="VARCHAR" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    STAFF_ID, STAFF_NAME, RANK_ID, USERNAME, PASSWORD, STORE_ID, SEX, ID_NUMBER, TELEPHONE, 
    SPECIAL, INFO, DEPART_ID, STAFF_IMG, DEP_HEADER, STATUS, RIGHTS, ROLE_ID, LAST_LOGIN, 
    IP, EMAIL, SKIN, last_update
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from tb_staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="site.share2u.etl.pojo.Staff" >
    insert into tb_staff (STAFF_ID, STAFF_NAME, RANK_ID, 
      USERNAME, PASSWORD, STORE_ID, 
      SEX, ID_NUMBER, TELEPHONE, 
      SPECIAL, INFO, DEPART_ID, 
      STAFF_IMG, DEP_HEADER, STATUS, 
      RIGHTS, ROLE_ID, LAST_LOGIN, 
      IP, EMAIL, SKIN, last_update
      )
    values (#{staffId,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, #{rankId,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{storeId,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{idNumber,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{special,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{departId,jdbcType=VARCHAR}, 
      #{staffImg,jdbcType=VARCHAR}, #{depHeader,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{rights,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{lastLogin,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{skin,jdbcType=VARCHAR}, #{lastUpdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="site.share2u.etl.pojo.Staff" >
    insert into tb_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="staffName != null" >
        STAFF_NAME,
      </if>
      <if test="rankId != null" >
        RANK_ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="storeId != null" >
        STORE_ID,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="idNumber != null" >
        ID_NUMBER,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="special != null" >
        SPECIAL,
      </if>
      <if test="info != null" >
        INFO,
      </if>
      <if test="departId != null" >
        DEPART_ID,
      </if>
      <if test="staffImg != null" >
        STAFF_IMG,
      </if>
      <if test="depHeader != null" >
        DEP_HEADER,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="rights != null" >
        RIGHTS,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="lastLogin != null" >
        LAST_LOGIN,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="skin != null" >
        SKIN,
      </if>
      <if test="lastUpdate != null" >
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="rankId != null" >
        #{rankId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="special != null" >
        #{special,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=VARCHAR},
      </if>
      <if test="staffImg != null" >
        #{staffImg,jdbcType=VARCHAR},
      </if>
      <if test="depHeader != null" >
        #{depHeader,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="rights != null" >
        #{rights,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="skin != null" >
        #{skin,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null" >
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.share2u.etl.pojo.Staff" >
    update tb_staff
    <set >
      <if test="staffName != null" >
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="rankId != null" >
        RANK_ID = #{rankId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        STORE_ID = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null" >
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="special != null" >
        SPECIAL = #{special,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        INFO = #{info,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        DEPART_ID = #{departId,jdbcType=VARCHAR},
      </if>
      <if test="staffImg != null" >
        STAFF_IMG = #{staffImg,jdbcType=VARCHAR},
      </if>
      <if test="depHeader != null" >
        DEP_HEADER = #{depHeader,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="rights != null" >
        RIGHTS = #{rights,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null" >
        LAST_LOGIN = #{lastLogin,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="skin != null" >
        SKIN = #{skin,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.share2u.etl.pojo.Staff" >
    update tb_staff
    set STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      RANK_ID = #{rankId,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      STORE_ID = #{storeId,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=INTEGER},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      SPECIAL = #{special,jdbcType=VARCHAR},
      INFO = #{info,jdbcType=VARCHAR},
      DEPART_ID = #{departId,jdbcType=VARCHAR},
      STAFF_IMG = #{staffImg,jdbcType=VARCHAR},
      DEP_HEADER = #{depHeader,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      RIGHTS = #{rights,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR},
      LAST_LOGIN = #{lastLogin,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      SKIN = #{skin,jdbcType=VARCHAR},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>
</mapper>